=menu_group do
  -if user_signed_in?
    =menu_item 'Logout', destroy_user_session_path, :method=>'delete'
  -else
    =menu_item 'Login', new_user_session_path
  - if user_signed_in?
    =menu_item 'Edit account', edit_user_registration_path
    - if current_user.has_role? :admin
      =menu_item 'Admin', users_path
  - else
    =menu_item 'Sign up', new_user_registration_path
    =menu_item "Sign in with Twitter", user_omniauth_authorize_path(:twitter)
    =menu_item "Sign in with Facebook", user_omniauth_authorize_path(:facebook)